<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!-- end no cache headers -->
    <title>MSSUI前端基础构成</title>
    <link href="../../assets/css/reset.css" rel="stylesheet">
</head>

<body>
    MSSUI 引入了一个优秀的 CSS3 动画库 。
    <br>
所有的动画效果请点击 daneden.me/animate 查看。
    <br>

</body>

</html>