<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!-- end no cache headers -->
    <title>MSSUI前端基础构成</title>
    <link href="../../assets/css/reset.css" rel="stylesheet">
    <link href="../../assets/css/grids.css" rel="stylesheet">
    <link href="../../assets/css/modules.css" rel="stylesheet">
</head>

<body>
    <h3>本页面引用grids.css分配6中固定形式的分栏。</h3>    
    <h4>两列右侧自适应布局</h4>
    <div class="container g-bottom">
        <div class="g-clear g-bottom">
            <div class="g-rows1-left bg-Yellow fn-r3px fn-bsd">
                bg-Yellow:背景颜色
                <br>fn-r3px:圆角，数字3、5、10代表圆度度数
                <br>fn-bsd：投影
            </div>
            <div class="g-rows1-right">
                <div class="g-rows1-right-box bg-Purple fn-r3px">
                    自动适应宽度
                </div>
            </div>
        </div>
    </div>
    <h4>三列右侧自适应布局</h4>
    <div class="container">
        <div class="g-clear g-bottom">
            <div class="g-rows2-left g-rows2-left-m bg-Yellow fn-r3px fn-bsd">
                左侧定宽
            </div>
            <div class="g-rows2-left bg-Teal fn-r3px fn-bsd">
                左侧定宽
            </div>
            <div class="g-rows2-right">
                <div class="g-rows2-right-box bg-DeepPink fn-r3px">
                    自动适应宽度
                </div>
            </div>
        </div>
    </div>
    <h4>两列左侧自适应布局</h4>
    <div class="container">
        <div class="g-clear g-bottom">
            <div class="g-rows3-left">
                <div class="g-rows3-left-box bg-Gold">
                    左侧自适应
                </div>
            </div>
            <div class="g-rows3-right bg-SkyBlue">
                右侧定宽
            </div>
        </div>
    </div>
    <h4>三列左侧自适应布局</h4>
    <div class="container">
        <div class="g-clear g-bottom">
            <div class="g-rows4-left">
                <div class="g-rows4-left-box bg-Gold">
                    左侧自适应
                </div>
            </div>
            <div class="g-rows4-right g-rows4-right-m bg-Red">
                右侧定宽
            </div>
            <div class="g-rows4-right bg-YellowGreen">
                右侧定宽
            </div>
        </div>
    </div>
    <h4>两列右侧自适应布局 big</h4>
    <div class="container">
        <div class="g-clear g-bottom">
            <div class="g-rowb1-left bg-Gold">
                <p>左侧定宽</p>
            </div>
            <div class="g-rowb1-right">
                <div class="g-rowb1-right-box bg-Red">
                    <p>右侧自适应</p>
                </div>
            </div>
        </div>
    </div>
    <h4>两列左侧自适应布局 big</h4>
    <div class="container">
        <div class="g-clear g-bottom">
            <div class="g-rowb2-left">
                <div class="g-rowb2-left-box bg-Gold">
                    左侧自适应
                </div>
            </div>
            <div class="g-rowb2-right bg-SkyBlue">
                右侧定宽
            </div>
        </div>
    </div>
</body>

</html>