<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!-- end no cache headers -->
    <title>MSSUI前端基础构成</title>
    <link href="../../assets/css/reset.css" rel="stylesheet">
    <link href="../../assets/css/grids.css" rel="stylesheet">
    <link href="../../assets/css/modules.css" rel="stylesheet">
    <!--[if lt IE 9]>
     <script src="../../assets/js/respond.js"></script>
    <![endif]-->
</head>

<body>
    <h3>本页面引用采用流式布局，仅支持IE8以上</h3> 
    <h4>12分之一</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column1 bg-Red">Red</div>
            <div class="f-column1 bg-Orange">Orange</div>
            <div class="f-column1 bg-Gold">Gold</div>
            <div class="f-column1 bg-Yellow">Yellow</div>
            <div class="f-column1 bg-YellowGreen">YellowGreen</div>
            <div class="f-column1 bg-Green">Green</div>
            <div class="f-column1 bg-Teal">Teal</div>
            <div class="f-column1 bg-DarkCyan">DarkCyan</div>
            <div class="f-column1 bg-SkyBlue">SkyBlue</div>
            <div class="f-column1 bg-Blue">Blue</div>
            <div class="f-column1 bg-MediumBlue">MediumBlue</div>
            <div class="f-column1 bg-BlueViolet">BlueViolet</div>
        </div>
    </div>
    <h4>1:11</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column1 bg-Red">Red</div>
            <div class="f-column11 bg-Orange">
                
                
                
            </div>
        </div>
    </div>
    <h4>2:10</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column2 bg-Red">Red</div>
            <div class="f-column10 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>3:9</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column3 bg-Red">Red</div>
            <div class="f-column9 bg-Orange">Orange</div>
        </div>
    </div>
    <div class="container-fluid g-bottom">
        ...<br>
        ...<br>
        ...<br>
    </div>
        <h4>10:2</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column10 bg-Red">Red</div>
            <div class="f-column2 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>11:1</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column11 bg-Red">Red</div>
            <div class="f-column1 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>2:10</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column2 bg-Red">Red</div>
            <div class="f-column10 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>4:8</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column4 bg-Red">Red</div>
            <div class="f-column8 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>6:6</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column6 bg-Red">Red</div>
            <div class="f-column6 bg-Orange">Orange</div>
        </div>
    </div>
    <h4>9:3</h4>
    <div class="container-fluid g-bottom">
        <div class="fluid-row">
            <div class="f-column9 bg-Red">Red</div>
            <div class="f-column3 bg-Orange">Orange</div>
        </div>
    </div>
</body>

</html>