<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!-- end no cache headers -->
    <title>MSSUI前端基础构成</title>
    <link href="../../assets/css/reset.css" rel="stylesheet">
</head>

<body>
    Reset 重设 Reset.css 是 MSSUI 的浏览器重设样式。 它扫除了浏览器默认样式的基本兼容性问题，像建筑的地基一样，让开发者在平地上放心的建造大楼。 MSSUI 的 Reset.css 是基于alice.base 以及 MOSN开发项目中的经验，借鉴 NEC 等业界优秀模块，并配置适合设计的基础样式（强调文本是否大多是粗体、主文字色，主链接色，主字体等）。 砸场子：No CSS Reset 实际上，MSSUI 的 Reset 也是 No CSS Reset，所有的通用模块都不依赖于 Reset.css 进行开发，它们会有自己的 Reset 代码，这样它们在任何页面的表现都会 OK。
    <br>
    <br>fn-clear: 清理浮动
    <br>fn-hide: 隐藏, 通常用来与 JS 配合
    <br>fn-left,fn-right: 设置内联, 减少浮动带来的bug
    <br>fn-text-overflow: 单行文字溢出时出现省略号，需设定宽度
    <br>fn-linear: 简单的渐变 from(#fcfcfc), to(#f1f1f1)
    <br>fn-linear-light 浅色的渐变 from(#fcfcfc), to(#f9f9f9)
    <br>fn-webkit-adjust: chrome
    <br>

</body>

</html>