/**
 * mssm.css
 * Mosn 2015.4.16
 * From mssm
 */

/*全局格式化*/

li {
    list-style: none;
}
/*
@ 颜色说明
@ 蓝色   #6dc3ea 过渡色 #538ab9
@ 深蓝色 #34495e
@ 近黑色 #243342
@ 轻灰色 #f2f2f2
*/

.mssm-content {
    width: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    min-width: 700px;
}
/*
@ mssm-header 头部
*/

.mssm-header {
    width: 100%;
    height: 60px;
    float: left;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#074f7d, endColorStr=#0f6296);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #074f7d, #0f6296);
    /* IE 10 */
    background: -moz-linear-gradient(top, #074f7d, #0f6296);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#074f7d), to(#0f6296));
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#074f7d), to(#0f6296));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #074f7d, #0f6296);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #074f7d, #0f6296);
    /*Opera 11.10+*/
    position: relative;
    z-index: 999;
}
/*
@ LOGO类
*/

.mssm-header-top {
    width: 100%;
    height: 30px;
    float: left;
}
.mssm-header-top-logo {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: #fff;
    float: left;
    padding-left: 5px;
}
.mssm-header-top-user {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: #fff;
    float: right;
    padding-right: 5px;
}
.mssm-header-top-user span {} .mssm-header-top-user a {
    color: #c1d5ec;
}
/*
@ 大导航
*/

.mssm-nav-box {
    float: left;
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}
.mssm-nav-box .mssm-nav-set {
    width: 14px;
    height: 14px;
    padding: 5px 13px;
    overflow: hidden;
    position: absolute;
    left: 6px;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #000000;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#f6fafd, endColorStr=#e1eef8);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #f6fafd, #e1eef8);
    /* IE 10 */
    background: -moz-linear-gradient(top, #f6fafd, #e1eef8);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafd), to(#e1eef8));
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafd), to(#e1eef8));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #f6fafd, #e1eef8);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #f6fafd, #e1eef8);
    /*Opera 11.10+*/
    font-size: 14px;
}
.mssm-nav-box .mssm-nav-set span {
    width: 14px;
    height: 14px;
    float: left;
}
.mssm-nav-box ul {
    width: auto;
    height: 25px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 52px;
    top: 0;
    z-index: 2;
}
.mssm-nav-box ul li {
    float: left;
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-left: 5px;
    background: #e0e0e0;
    border-bottom: 1px solid #000000;
    border-bottom: none;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#e5f0f7, endColorStr=#a5cae3);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #e5f0f7, #a5cae3);
    /* IE 10 */
    background: -moz-linear-gradient(top, #e5f0f7, #a5cae3);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5f0f7), to(#a5cae3));
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5f0f7), to(#a5cae3));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #e5f0f7, #a5cae3);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #e5f0f7, #a5cae3);
    /*Opera 11.10+*/
}
.mssm-nav-box ul li i {
    margin: 3px 0 0 3px;
}
.mssm-nav-box ul li.mssm_selected {
    background: #fff;
    border-bottom: 1px solid #fff;
}
/*
@ mssm-main 主框架
*/

.mssm-main {
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.mssm-sidebar {
    float: left;
    width: 160px;
    margin: 10px 0px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    overflow: hidden;
    background: #f2f5f8;
    -webkit-border-radius: 0 3px 3px 0 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: 0px 1px 4px #cccccc;
    overflow: hidden;
    overflow-y: auto;
}
.mssm_iframe {
    float: right;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin-right: 15px;
}
/*sidebar*/

.mssm-sidebar .mssm-leftnav-box {
    float: left;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.mssm-sidebar .mssm-leftnav-box p {
    float: left;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* for internet explorer */
    overflow: hidden;
    display: block;
}
.mssm-sidebar .mssm-leftnav-box p i {
    margin-top: 3px;
    margin-right: 4px;
}
.mssm-sidebar .mssm-leftnav-box ul {
    float: left;
    width: 100%;
    border-top: 1px solid #dadada;
    overflow: hidden;
}
.mssm-sidebar .mssm-leftnav-box ul li {
    float: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* for internet explorer */
    overflow: hidden;
    display: block;
}
.mssm-sidebar .mssm-leftnav-box ul li i {
    margin-left: 18px;
}
.mssm-sidebar .mssm-leftnav-box ul li.mssm_selected {
    background: #dbe4ed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mssm-sidebar .mssm-leftnav-box ul li i {
    margin-top: 1px;
    margin-right: 4px;
}
/*iframe*/

.mssm_iframe ul {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.mssm_iframe ul li {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.mssm_iframe ul li.mssm_selected {
    z-index: 3;
}
/*
@ iframe 逻辑框架
*/

.mssm-i-box {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    border-bottom: 1px solid #dadada;
}
.mssm-i-box .mssm-i-box-left {
    width: 8px;
    height: 8px;
    padding: 11px 3px;
    padding-top: 21px;
    float: left;
    cursor: pointer;
}
.mssm-i-box .mssm-i-box-right {
    width: 8px;
    height: 8px;
    padding: 11px 3px;
    padding-top: 21px;
    float: right;
    cursor: pointer;
}
.mssm-i-box-nav {
    width: auto;
    height: 40px;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.mssm-i-box dl {
    width: 9999px;
    height: 26px;
    float: left;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.mssm-i-box dl dt {
    float: left;
    width: auto;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin-left: 5px;
    background: #e0e0e0;
    border-bottom: 1px solid #dadada;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#e5f0f7, endColorStr=#a5cae3);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #e5f0f7, #a5cae3);
    /* IE 10 */
    background: -moz-linear-gradient(top, #e5f0f7, #a5cae3);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5f0f7), to(#a5cae3));
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5f0f7), to(#a5cae3));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #e5f0f7, #a5cae3);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #e5f0f7, #a5cae3);
    /*Opera 11.10+*/
}
.mssm-i-box dl dt i {
    margin-left: 4px;
    margin-top: 3px;
}
.mssm-i-box dl dt.mssm-i-box-selected {
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#ffffff, endColorStr=#ffffff);
    /*IE 6 7 8*/
    background: #ffffff;
    border: 1px solid #dadada;
    border-bottom: none;
}
.mssm-right-box {
    width: 120px;
    height: auto;
    position: absolute;
    z-index: 999;
    background: #fafafa;
    box-shadow: 0 1px 3px #cccccc;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    border-radius: 2px;
}
.mssm-right-box li {
    width: 120px;
    height: 29px;
    float: left;
    line-height: 29px;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
}
.mssm-right-box li i{
    margin:0 10px;
}
.mssm-right-box li:hover {
    background: #d1d1d1
}
/*
@ mssm-container
@  iframe 内部结构
*/

.mssm-container {
    width: 100%;
    float: left;
    height: auto;
}
.mssm-model {
    background: #e7f1fa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
}
.mssm-model-top-margin {
    border-bottom: 1px solid #dadada;
    padding-top: 10px;
}
/*/动画*/

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}